$Purple-100: hsl(254, 88%, 90%);
$Purple-500: hsl(256, 67%, 59%);

$Yellow-100: hsl(31, 66%, 93%);
$Yellow-500: hsl(39, 100%, 71%);

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 7%);

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}

body{
  background-color: $Purple-100;
  min-height: 100vh;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  display: grid;
  place-content: center;

  .item2-text{
    font-size: 4rem;
    font-weight: 500;
  }

  .item3-text{
    font-size: 2.75rem;
    font-weight: 500;
  }

  .item1-text{
    font-size: 2.75rem;
    font-weight: 500;
  }
}

